* {
  border: none;
  border-radius: 0px;
  font-family: Mononoki Nerd Font;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(36, 39, 58, 1.0);
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#window,
#backlight {
  background: #1e2030;
  padding: 0px 10px;
  margin: 5px 0px;
  margin-top: 5px;
}

#workspaces {
  color: #89b4fa;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 0px;
  padding-left: 0px;
}
#workspaces button {
  padding: 5px;
  color: #363a4f;
  margin-right: 5px;
}
#workspaces button.active {
  color: #8aadf4;
}
#workspaces button.focused {
  color: #8aadf4;
  background: #1e2030;
}
#workspaces button.urgent {
  color: #ed8796;
  background: #1e2030;
}
#workspaces button:hover {
  background: #1e2030;
  color: #cdd6f4;
}

#window {
  color: #8aadf4;
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

#clock {
  color: #8aadf4;
  border-radius: 10px 10px 10px 10px;
  margin-left: 5px;
  border-right: 0px;
	padding-right: 5px;
}

#network {
  color: #8aadf4;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio {
  color: #8aadf4;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio.microphone {
  color: #8aadf4;
  margin-right: 5px;
  border-radius: 0 10px 10px 0;
}

#battery {
  color: #8aadf4;
  border-left: 0px;
  border-right: 0px;
  border-radius: 10px 0px 0px 10px;
}
#battery.warning {
	color: #eed49f;
}
#battery.critical {
	color: #ed8796;
}
